@page "/"

<PageTitle>Kreddit</PageTitle>

<h1>Welcome to Kreddit</h1>

<p>A project made by Sarah Fahlén in Software arkitektur <br/> 
    Below you can read the most recent posts.</p>

<PostList></PostList>
